<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="ubaldo@eja.it">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/static/img/icon.png">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-icons.css" rel="stylesheet">
	<link href="/static/css/suneditor.min.css" rel="stylesheet">
    <link href="/static/css/slimselect.min.css" rel="stylesheet">
    <link href="/static/css/tibula.css" rel="stylesheet">
	<title>{{.ModuleLabel}}</title>
</head>
<body>
<form method="post" action="?" id="ejaForm">
